header{
  h1{
  font-family: "Bangers", system-ui;
  font-size:50px;
  color:red;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: whitesmoke;
  }
  h2{
    font-family: "Bangers", system-ui;
    font-size:30px;
    color:red;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: whitesmoke;
  }
}