.job{
    font-family: "Viga", sans-serif;
    color:white;
   
    article{
        border-bottom: 2px solid red;
        h3{
            font-size:22px;     
        }
        h5{
            font-size:20px;
        }
        p{
            font-size:18px;
        }
        h4{
            font-size:25px;
            color:aqua;
        }
    }
}
.liste{
    ul{
        font-family: "Viga", sans-serif;
    }
    li{
        font-size:20px;
    }
}
.reseau{
    li{
        font-family: "Viga", sans-serif;
        display:flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        img{
            width:25%;
            margin-right:21%;
        }
    }
}
.atouts{
    ul{
        font-family: "Viga", sans-serif;
        li{
            font-size:24px;
        }
    }
}
.langues{
    ul{
        font-family: "Viga", sans-serif;
        li{
            font-size:25px;
        }
    }
}