.job{
    font-family: "Viga", sans-serif;
    color:white;
   
    article{
        border-bottom: 2px solid red;
        h3{
            font-size:22px;     
        }
        h5{
            font-size:20px;
        }
    }
}