header h1 {
  font-family: "Bangers", system-ui;
  font-size: 50px;
  color: red;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: whitesmoke;
}
header h2 {
  font-family: "Bangers", system-ui;
  font-size: 30px;
  color: red;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: whitesmoke;
}

.job {
  font-family: "Viga", sans-serif;
  color: white;
}
.job article {
  border-bottom: 2px solid red;
}
.job article h3 {
  font-size: 22px;
}
.job article h5 {
  font-size: 20px;
}
.job article p {
  font-size: 18px;
}
.job article h4 {
  font-size: 25px;
  color: aqua;
}

.liste ul {
  font-family: "Viga", sans-serif;
}
.liste li {
  font-size: 20px;
}

.reseau li {
  font-family: "Viga", sans-serif;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.reseau li img {
  width: 25%;
  margin-right: 21%;
}

.atouts ul {
  font-family: "Viga", sans-serif;
}
.atouts ul li {
  font-size: 24px;
}

.langues ul {
  font-family: "Viga", sans-serif;
}
.langues ul li {
  font-size: 25px;
}

* {
  padding: 0;
}

body {
  background: rgb(0, 17, 80);
  background: linear-gradient(153deg, rgb(0, 17, 80) 6%, rgb(2, 0, 55) 26%, rgb(0, 18, 73) 38%, rgb(4, 14, 122) 52%, rgb(0, 6, 66) 63%, rgb(0, 19, 107) 85%, rgb(227, 0, 0) 90%, rgb(0, 2, 50) 97%) no-repeat;
}

.recherche details summary {
  font-family: "Bangers", system-ui;
  font-size: 30px;
  color: whitesmoke;
  text-align: center;
  background: rgb(149, 0, 0);
  background: linear-gradient(150deg, rgb(149, 0, 0) 23%, rgb(255, 0, 0) 49%, rgb(152, 0, 0) 100%);
  padding: 10px;
}
.recherche details ul {
  list-style: none;
  text-align: center;
}
.recherche details a {
  text-decoration: none;
  color: white;
  font-family: "Viga", sans-serif;
  font-size: 23px;
  text-align: center;
}

img {
  width: 60%;
  margin-left: 20%;
}

.presentation h2 {
  font-family: "Bangers", system-ui;
  font-size: 50px;
  color: red;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: whitesmoke;
}
.presentation p {
  font-family: "Viga", sans-serif;
  text-align: center;
  color: white;
  font-size: 25px;
}

h2 {
  font-family: "Bangers", system-ui;
  font-size: 50px;
  color: red;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: whitesmoke;
}

.profil img {
  width: 40%;
  margin-left: 30%;
}
.profil p {
  text-align: center;
  color: white;
  font-family: "Viga", sans-serif;
  font-size: 20px;
}

ul {
  font-family: "Bangers", system-ui;
  color: white;
}
ul li {
  font-size: 30px;
  text-align: center;
  list-style: none;
  margin-bottom: 20px;
}

.bag h3 {
  font-family: "Viga", sans-serif;
  color: white;
  font-size: 25px;
  text-align: center;
}
.bag p {
  font-family: "Viga", sans-serif;
  color: white;
  font-size: 20px;
}

.screenshots ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.screenshots img {
  width: 90%;
  margin-left: 0;
}

h3 {
  color: white;
  font-family: "Viga", sans-serif;
  text-align: center;
}

.contact img {
  width: 50%;
  margin-left: 24%;
}
.contact p {
  color: white;
  font-family: "Viga", sans-serif;
  font-size: 18px;
  text-align: center;
}

@media screen and (min-width: 772px) {
  header h1 {
    font-size: 80px;
  }
  header h2 {
    font-size: 50px;
  }
  .recherche details summary {
    font-size: 45px;
  }
  .recherche details a {
    font-size: 35px;
  }
  img {
    width: 42%;
    margin-left: 29%;
  }
  .profil p {
    text-align: center;
    color: white;
    font-family: "Viga", sans-serif;
    font-size: 25px;
  }
  ul li {
    font-size: 50px;
  }
  .job article h3 {
    font-size: 25px;
  }
  .job article h5 {
    font-size: 25px;
  }
  .job article p {
    font-size: 20px;
  }
  .bag p {
    font-size: 22px;
  }
  .contact p {
    font-size: 25px;
  }
}
@media screen and (min-width: 992px) {
  .recherche nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: rgb(149, 0, 0);
    background: linear-gradient(150deg, rgb(149, 0, 0) 23%, rgb(255, 0, 0) 49%, rgb(152, 0, 0) 100%) no-repeat;
  }
  .recherche nav a {
    font-size: 32px;
  }
  .recherche nav a:hover {
    background-color: blue;
    background-size: cover;
  }
  img {
    width: 22%;
    margin-left: 39%;
  }
  .presentation p {
    font-size: 35px;
  }
  .profil img {
    width: 20%;
    margin-left: 40%;
  }
  h2 {
    font-size: 60px;
  }
  .liste li {
    font-size: 35px;
  }
  .reseau ul {
    display: flex;
  }
  .reseau li {
    font-size: 20px;
    text-align: center;
  }
  .reseau li img {
    width: 35%;
  }
  .atouts ul li {
    font-size: 40px;
  }
  .langues ul li {
    font-size: 40px;
  }
  .screenshots img {
    width: 70%;
  }
  h3 {
    font-size: 35px;
  }
  .contact img {
    width: 20%;
    margin-left: 40%;
  }
  .contact p {
    font-size: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
