@use 'header.scss';
@use 'footer.scss';

body{
    background: rgb(0,17,80);
    background: linear-gradient(153deg, rgba(0,17,80,1) 6%, rgba(2,0,55,1) 26%, rgba(0,18,73,1) 38%, rgba(4,14,122,1) 52%, rgba(0,6,66,1) 63%, rgba(0,19,107,1) 85%, rgba(227,0,0,1) 90%, rgba(0,2,50,1) 97%) no-repeat; 
}
.recherche{
    details{
        summary{
            font-family: "Bangers", system-ui;
            font-size:30px;
            color:whitesmoke;
        }
        ul{
            list-style:none;
        }
        a{
            text-decoration:none;
            color:white;
            font-family: "Viga", sans-serif;
            font-size:20px;

        }
    }
}
img{
    width:60%;
    margin-left:20%;
}
.presentation{
    h2{
        font-family: "Bangers", system-ui;
        font-size:50px;
        color:red;
        text-align: center;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: whitesmoke;
    }
    p{
        font-family: "Viga", sans-serif;
        text-align:center;
        color:white;
        font-size:25px;
    }
}